

fastapi
# uvicorn
python-dotenv
python-multipart

langchain
langgraph
langchain-openai
langchain-community
langchain-tavily

openai

pinecone

tavily-python
uvicorn==0.35.0
pypdf

pydantic
pydantic-settings

tiktoken

httpx
requests